---
import { Image } from 'astro:assets';
const { servicesHero } = Astro.props;
import "../../styles/styles.scss";
---

<div class="service-banner">
    <div class="service-hero">
        <h1>{servicesHero.serviceHeroHeader}</h1>
        <Image 
            src={servicesHero.serviceHeroImage.url} 
            alt={servicesHero.serviceHeroImage.alternativeText}
            inferSize={true}/>
        <p>{servicesHero.serviceHeroDesc}</p>
        <a href="/request-quote" class="service-btn">{servicesHero.serviceHeroBtn}</a>
    </div>
</div>