---
const {
    servicePortalTitle, 
    servicePortalDesc, 
    servicePortalImage, 
    servicePoofingTitle, 
    servicePoofingDesc, 
    servicePoofingImage, 
    serviceWarehouseTitle, 
    serviceWarehouseDesc, 
    serviceWarehouseImage  
} = Astro.props;
---

<div>
    <section>
        <h2>{servicePortalTitle}</h2>
        <img src={servicePortalImage} alt="random alt text">
        <p>{servicePortalDesc}</p>
    </section>
    <section>
        <h2>{servicePoofingTitle}</h2>
        <img src={servicePoofingImage} alt="random alt text">
        <p>{servicePoofingDesc}</p>
    </section>
    <section>
        <h2>{serviceWarehouseTitle}</h2>
        <img src={serviceWarehouseImage} alt="random alt text">
        <p>{serviceWarehouseDesc}</p>
    </section>
</div>