---
import { Image } from 'astro:assets';
const { servicesType } = Astro.props;
import "../../styles/styles.scss";
---

<div class="service">
    <div class="service-grid">
        <section class="portal">
            <div>
                <h2>{servicesType.servicePortalTitle}</h2>
                <p>{servicesType.servicePortalDesc}</p>
            </div>
            <Image
                src={servicesType.servicePortalImage.url}
                alt={servicesType.servicePortalImage.alternativeText}
                inferSize={true}/>
        </section>
        <section>
            <div>
                <h2>{servicesType.servicePoofingTitle}</h2>
                <p>{servicesType.servicePoofingDesc}</p>
            </div>
            <Image
                src={servicesType.servicePoofingImage.url}
                alt={servicesType.servicePoofingImage.alternativeText}
                inferSize={true}/>
        </section>
        <section class="warehouse">
            <div>
                <h2>{servicesType.serviceWarehouseTitle}</h2>
                <p>{servicesType.serviceWarehouseDesc}</p>
            </div>
            <Image
                src={servicesType.serviceWarehouseImage.url}
                alt={servicesType.serviceWarehouseImage.alternativeText}
                inferSize={true}/>
        </section>
    </div>
</div>