---
const {
    servicePortalTitle, 
    servicePortalDesc, 
    servicePortalImage,
    servicePortalAltText,
    servicePoofingTitle, 
    servicePoofingDesc, 
    servicePoofingImage,
    servicePoofingAltText, 
    serviceWarehouseTitle, 
    serviceWarehouseDesc, 
    serviceWarehouseImage,
    serviceWarehouseAltText
} = Astro.props;
import "../../styles/styles.scss";
---

<div class="service">
    <section class="portal">
        <div>
            <h2>{servicePortalTitle}</h2>
            <p>{servicePortalDesc}</p>
        </div>
        <img src={servicePortalImage} alt={servicePortalAltText}>
    </section>
    <section>
        <div>
            <h2>{servicePoofingTitle}</h2>
            <p>{servicePoofingDesc}</p>
        </div>
        <img src={servicePoofingImage} alt={servicePoofingAltText}>
    </section>
    <section class="warehouse">
        <div>
            <h2>{serviceWarehouseTitle}</h2>
            <p>{serviceWarehouseDesc}</p>
        </div>
        <img src={serviceWarehouseImage} alt={serviceWarehouseAltText}>
    </section>
</div>