---
import { Image } from "astro:assets";
const {
    aboutHeader,
    aboutImage,
    aboutText,
    requestQuoteBtn,
    aboutAltText,
    contactUsBtn,
} = Astro.props;
---

<section class="about-section">
    <div class="about-header-grid">
        <h2>{aboutHeader}</h2>
    </div>
    <div class="about-grid">
        <div class="about-info container">
            <div class="about-flex">
                <p>{aboutText}</p>
                <a href="/request-quote" class="about-request">{requestQuoteBtn}</a>
                <a href="/contact-us" class="about-contact">{contactUsBtn}</a>
            </div>
            <Image src={aboutImage} alt={aboutAltText} inferSize={true} />
        </div>
    </div>
</section>
