---
const {aboutHeader, aboutImage, aboutText, requestQuoteBtn, aboutAltText, contactUsBtn } = Astro.props;


---

<div>
    <h2>{aboutHeader}</h2>
    <img src={aboutImage} alt={aboutAltText}>
    <p>{aboutText}</p>
    <a href="#">{requestQuoteBtn}</a>
    <a href="#">{contactUsBtn}</a>
</div>