---
const {aboutHeader, aboutImage, aboutText, requestQuoteBtn, aboutAltText, contactUsBtn } = Astro.props;


---

<section class="about-section container">
    <h2>{aboutHeader}</h2>
    <div class="about-info">
        <p>{aboutText}</p>
        <a href="#">{requestQuoteBtn}</a>
        <a href="#">{contactUsBtn}</a>
        <img src={aboutImage} alt={aboutAltText}>
    </div>
</section>