---
const {aboutHeader, aboutImage, aboutText, aboutBtn} = Astro.props;

const photoUrl = `${import.meta.env.STRAPI_URL}${aboutImage}`;
---

<div>
    <h2>{aboutHeader}</h2>
    <img src={photoUrl} alt="random alt text">
    <p>{aboutText}</p>
    <a href="#">{aboutBtn}</a>
</div>