---
const {
    featuredProductsHeader, 
    pressureSealTitle, 
    pressureSealImage,
    pressureSealAltText,
    pressureSealBtn,
    linerlessLabelTitle,
    linerlessLabelImage,
    linerlessLabelAltText,
    linerlessLabelBtn,
    integratedFormText,
    integratedFormImage,
    integratedFormAltText,
    integratedFormBtn
} = Astro.props;

import "../../styles/styles.scss";
---

<section class="featured-products">
    <h2>{featuredProductsHeader}</h2>
    <div class="products-section container">
        <section class="pressure-seal-section">
            <h3>{pressureSealTitle}</h3>
            <img src={pressureSealImage} alt={pressureSealAltText}>
            <a href="/pressure-seal-forms">{pressureSealBtn}</a>
        </section>
        <section class="linerless-label-section">
            <h3>{linerlessLabelTitle}</h3>
            <img src={linerlessLabelImage} alt={linerlessLabelAltText}>
            <a href="/linerless-labels">{linerlessLabelBtn}</a>
        </section>
        <section class="integrated-section">
            <h3>{integratedFormText}</h3>
            <img src={integratedFormImage} alt={integratedFormAltText}>
            <a href="/integrated-form-labels">{integratedFormBtn}</a>
        </section>
    </div>
</section>