---
import { Image } from 'astro:assets';
const {
    featuredProductsHeader, 
    pressureSealTitle, 
    pressureSealImage,
    pressureSealAltText,
    pressureSealBtn,
    linerlessLabelTitle,
    linerlessLabelImage,
    linerlessLabelAltText,
    linerlessLabelBtn,
    integratedFormText,
    integratedFormImage,
    integratedFormAltText,
    integratedFormBtn
} = Astro.props;

---

<div>
    <h2>{featuredProductsHeader}</h2>
    <section>
        <h3>{pressureSealTitle}</h3>
        <Image 
            src={pressureSealImage} 
            alt={pressureSealAltText}
            inferSize={true}/>
        <a href="/pressuresealenvelope">{pressureSealBtn}</a>
    </section>
    <section>
        <h3>{linerlessLabelTitle}</h3>
        <Image 
            src={linerlessLabelImage} 
            alt={linerlessLabelAltText}
            inferSize={true}/>
        <a href="/linerlesslabel">{linerlessLabelBtn}</a>
    </section>
    <section>
        <h3>{integratedFormText}</h3>
        <Image 
            src={integratedFormImage} 
            alt={integratedFormAltText}
            inferSize={true}/>
        <a href="/integratedformlabel">{integratedFormBtn}</a>
    </section>
</div>