---
import { Image } from "astro:assets";
const { homeFeaturedProducts } = Astro.props;
import "../../styles/styles.scss";
---

<section class="featured-products">
    <div class="featured-header-grid">
        <h2>{homeFeaturedProducts.featuredProductsHeader}</h2>
    </div>
    <div class="product-grid">
        <div class="products-section container">
            <section class="linerless-label-section">
                <h3>{homeFeaturedProducts.linerlessLabelTitle}</h3>
                <Image
                    src={homeFeaturedProducts.linerlessLabelImage.url}
                    alt={homeFeaturedProducts.linerlessLabelImage.alternativeText}
                    inferSize={true}
                />
                <a href="/linerless-labels">{homeFeaturedProducts.linerlessLabelBtn}</a>
            </section>
            <section class="pressure-seal-section">
                <h3>{homeFeaturedProducts.pressureSealTitle}</h3>
                <Image
                    src={homeFeaturedProducts.pressureSealImage.url}
                    alt={homeFeaturedProducts.pressureSealImage.alternativeText}
                    inferSize={true}
                />
                <a href="/pressure-seal-forms">{homeFeaturedProducts.pressureSealBtn}</a>
            </section>
            <section class="integrated-section">
                <h3>{homeFeaturedProducts.integratedFormText}</h3>
                <Image
                    src={homeFeaturedProducts.integratedFormImage.url}
                    alt={homeFeaturedProducts.integratedFormImage.alternativeText}
                    inferSize={true}
                />
                <a href="/integrated-form-labels">{homeFeaturedProducts.integratedFormBtn}</a>
            </section>
        </div>
    </div>
</section>
