---
const {
    featuredServicesHeader, 
    clientBrandedTitle, 
    clientBrandedImage,
    warehouseTitle,
    warehouseImage,
    instantProofingTitle,
    instantProofingImage
} = Astro.props;

---

<div>
    <h2>{featuredServicesHeader}</h2>
    <div>
        <section>
            <h3>{clientBrandedTitle}</h3>
            <img src={clientBrandedImage} alt="random alt text">
        </section>
        <section>
            <h3>{warehouseTitle}</h3>
            <img src={warehouseImage} alt="random alt text">
        </section>
        <section>
            <h3>{instantProofingTitle}</h3>
            <img src={instantProofingImage} alt="random alt text">
        </section>
    </div>
</div>