---
const {heroHeader, heroBanner, heroText, heroAltText,
    ourProductsHeader, ourProductsText, ourProductsBtn,
    onlineServicesHeader, onlineServicesText, onlineServicesBtn,
    promoProductsHeader, promoProductsText, promoProductsBtn
 } = Astro.props;

import "../../styles/styles.scss";
---

<section class="hero-section container">
    <h1>{heroHeader}</h1>
    <div class="video-container">
        <video playsinline autoplay muted loop>
            <source src={heroBanner} type="video/mp4" title={heroAltText}>
        </video>
    </div>
    <p>{heroText}</p>
    <!-- cards -->
    <div class="card-flex">
        <div class="hero-card">
            <h2>{ourProductsHeader}</h2>
            <p>{ourProductsText}</p>
            <a href="#">{ourProductsBtn}</a>
        </div>
        <div class="hero-card">
            <h2>{onlineServicesHeader}</h2>
            <p>{onlineServicesText}</p>
            <a href="#">{onlineServicesBtn}</a>
        </div>
        <div class="hero-card">
            <h2>{promoProductsHeader}</h2>
            <p>{promoProductsText}</p>
            <a href="#">{promoProductsBtn}</a>
        </div>
    </div>
</section>