---
const {heroHeader, heroBanner, heroText, heroAltText,
    ourProductsHeader, ourProductsText, ourProductsBtn,
    onlineServicesHeader, onlineServicesText, onlineServicesBtn,
    promoProductsHeader, promoProductsText, promoProductsBtn
 } = Astro.props;

---

<div class="hero-section">
    <h1>{heroHeader}</h1>
    <video width="320" height="240" playsinline autoplay muted loop>
        <source src={heroBanner} type="video/mp4" title={heroAltText}>
    </video>
    <p>{heroText}</p>
    <!-- cards -->
    <div class="card-flex">
        <div class="hero-card">
            <h2>{ourProductsHeader}</h2>
            <p>{ourProductsText}</p>
            <a href="#">{ourProductsBtn}</a>
        </div>
        <div class="hero-card">
            <h2>{onlineServicesHeader}</h2>
            <p>{onlineServicesText}</p>
            <a href="#">{onlineServicesBtn}</a>
        </div>
        <div class="hero-card">
            <h2>{promoProductsHeader}</h2>
            <p>{promoProductsText}</p>
            <a href="#">{promoProductsBtn}</a>
        </div>
    </div>
</div>