---
const {heroHeader, heroBanner, heroText, heroAltText,
    ourProductsHeader, ourProductsText, ourProductsBtn,
    onlineServicesHeader, onlineServicesText, onlineServicesBtn,
    promoProductsHeader, promoProductsText, promoProductsBtn
 } = Astro.props;

---

<div>
    <h1>{heroHeader}</h1>
    <video width="320" height="240" autoplay muted loop>
        <source src={heroBanner} type="video/mp4" title={heroAltText}>
    </video>
    <p>{heroText}</p>
    <!-- cards -->
    <div>
        <h2>{ourProductsHeader}</h2>
        <p>{ourProductsText}</p>
        <a href="#">{ourProductsBtn}</a>
    </div>
    <div>
        <h2>{onlineServicesHeader}</h2>
        <p>{onlineServicesText}</p>
        <a href="#">{onlineServicesBtn}</a>
    </div>
    <div>
        <h2>{promoProductsHeader}</h2>
        <p>{promoProductsText}</p>
        <a href="#">{promoProductsBtn}</a>
    </div>
</div>