---
const {heroHeader, heroBanner, heroText, heroBtn, heroAltText } = Astro.props;

---

<div>
    <h1>{heroHeader}</h1>
    <img src={heroBanner} alt={heroAltText}>
    <p>{heroText}</p>
    <a href="#">{heroBtn}</a>
</div>