---
const {heroHeader, heroBanner, heroText, heroBtn } = Astro.props;

const photoUrl = `${import.meta.env.STRAPI_URL}${heroBanner}`;
---

<div>
    <h1>{heroHeader}</h1>
    <img src={photoUrl} alt="random alt text">
    <p>{heroText}</p>
    <a href="#">{heroBtn}</a>
</div>