---
import { Image } from 'astro:assets';
const {highQualityHeader, highQualityImage, highQualityText, highQualityAltText, highQualityBtn } = Astro.props;
---

<section class="high-quality-section container">
    <img src={highQualityImage} alt={highQualityAltText}>
    <div class="high-quality-card">
        <h2>{highQualityHeader}</h2>
        <p>{highQualityText}</p>
        <a href="/about-us">{highQualityBtn}</a>
    </div>
</section>