---

const {highQualityHeader, highQualityImage, highQualityText, highQualityAltText, highQualityBtn } = Astro.props;
---

<div>
    <img src={highQualityImage} alt={highQualityAltText}>
    <h2>{highQualityHeader}</h2>
    <p>{highQualityText}</p>
    <a href="#">{highQualityBtn}</a>
</div>