---
import { Image } from 'astro:assets';
const { homeHighQuality } = Astro.props;
---

<section class="high-quality-section container">
    <div class="quality-container">
        <Image src={homeHighQuality.highQualityImage.url} alt={homeHighQuality.highQualityImage.alternativeText} inferSize={true}/>
        <div class="high-quality-card">
            <h2>{homeHighQuality.highQualityHeader}</h2>
            <p>{homeHighQuality.highQualityText}</p>
            <a href="/about-us">{homeHighQuality.highQualityBtn}</a>
        </div>
    </div>
</section>