---
import { Image } from 'astro:assets';
const {highQualityHeader, highQualityImage, highQualityText, highQualityAltText, highQualityBtn } = Astro.props;
---

<div>
    <Image 
        src={highQualityImage} 
        alt={highQualityAltText}
        inferSize={true}/>
    <h2>{highQualityHeader}</h2>
    <p>{highQualityText}</p>
    <a href="#">{highQualityBtn}</a>
</div>