---
import { Image } from "astro:assets";
const { homeOnlineBased } = Astro.props;
---

<section class="online-services container">
    <div class="service-container">
        <Image
            src={homeOnlineBased.onlineBasedImage.url}
            alt={homeOnlineBased.onlineBasedImage.alternativeText}
            inferSize={true}
        />
        <div class="online-card">
            <h2>{homeOnlineBased.onlineBasedHeader}</h2>
            <p>{homeOnlineBased.onlineBasedText}</p>
            <a href="/online-services">{homeOnlineBased.onlineBasedBtn}</a>
        </div>
    </div>
</section>
