---
const {
    featureProductsHeader, 
    pressuresealTitle, 
    pressuresealImage, 
    pressuresealBtn,
    pressureSealAltText,
    linerlessTitle,
    linerlessImage,
    linerlessLabelAltText,
    linerlessBtn,
    integratedformTitle,
    integratedformImage,
    integratedFormAltText,
    integratedformBtn
    } = Astro.props;
---

<div>
    <h2 class="featured-products-h1">{featureProductsHeader}</h2>
    
    <div class="featured-products-bg">
        <div class="products-container">
            <section>
                <h3>{pressuresealTitle}</h3>
                <img src={pressuresealImage} alt={pressureSealAltText}>
                <a href="/pressure-seal-forms" class="featured-btn">{pressuresealBtn}</a>
            </section>
            <section>
                <h3>{linerlessTitle}</h3>
                <img src={linerlessImage} alt={linerlessLabelAltText}>
                <a href="/linerless-labels" class="featured-btn">{linerlessBtn}</a>
            </section>
            <section>
                <h3>{integratedformTitle}</h3>
                <img src={integratedformImage} alt={integratedFormAltText}>
                <a href="/integrated-form-labels" class="featured-btn">{integratedformBtn}</a>
            </section>
        </div>
    </div>
</div>