---
import { Image } from 'astro:assets';
const {
    featureProductsHeader, 
    pressuresealTitle, 
    pressuresealImage, 
    pressuresealBtn,
    pressureSealAltText,
    linerlessTitle,
    linerlessImage,
    linerlessLabelAltText,
    linerlessBtn,
    integratedformTitle,
    integratedformImage,
    integratedFormAltText,
    integratedformBtn
    } = Astro.props;
---

<div>
    <h2>{featureProductsHeader}</h2>
    <section>
        <h3>{pressuresealTitle}</h3>
        <Image 
            src={pressuresealImage} 
            alt={pressureSealAltText}
            inferSize={true}/>
        <a href="/pressure-seal-forms">{pressuresealBtn}</a>
    </section>
    <section>
        <h3>{linerlessTitle}</h3>
        <Image 
            src={linerlessImage} 
            alt={linerlessLabelAltText}
            inferSize={true}/>
        <a href="/linerless-labels">{linerlessBtn}</a>
    </section>
    <section>
        <h3>{integratedformTitle}</h3>
        <Image 
            src={integratedformImage} 
            alt={integratedFormAltText}
            inferSize={true}/>
        <a href="/integrated-form-labels">{integratedformBtn}</a>
    </section>
</div>