---
const {
    featureProductsHeader, 
    pressuresealTitle, 
    pressuresealImage, 
    pressuresealBtn,
    pressureSealAltText,
    linerlessTitle,
    linerlessImage,
    linerlessLabelAltText,
    linerlessBtn,
    integratedformTitle,
    integratedformImage,
    integratedFormAltText,
    integratedformBtn
    } = Astro.props;
---

<div>
    <h2>{featureProductsHeader}</h2>
    <section>
        <h3>{pressuresealTitle}</h3>
        <img src={pressuresealImage} alt={pressureSealAltText}>
        <a href="/pressure-seal-forms">{pressuresealBtn}</a>
    </section>
    <section>
        <h3>{linerlessTitle}</h3>
        <img src={linerlessImage} alt={linerlessLabelAltText}>
        <a href="/linerless-labels">{linerlessBtn}</a>
    </section>
    <section>
        <h3>{integratedformTitle}</h3>
        <img src={integratedformImage} alt={integratedFormAltText}>
        <a href="/integrated-form-labels">{integratedformBtn}</a>
    </section>
</div>