---
import { Accordion, AccordionItem } from 'accessible-astro-components';
import { Image } from 'astro:assets';

const {
    moreproducts
} = Astro.props;
---
<div class="more-products-bg">
    <div class="more-products-container">
        <div class="more-products-section">
        <div class="product-header-group">
            <h3>{moreproducts.productTitle}</h3>
                <Image
                    src={moreproducts.productImage.url}
                    alt={moreproducts.productImage.alternativeText}
                    inferSize={true}/>
        </div>
        <div class="accordion-group">
            <h4>{moreproducts.ProductDesc}</h4>
            <!-- accordion -->
             <Accordion>
                <AccordionItem
                    title="About"
                    variant="chevron">
                    <div>
                        <!-- About -->
                        <p>{moreproducts.aboutDesc}</p>
                    </div>
                </AccordionItem>
             </Accordion>
            <div>
                <!-- Choose From -->
                <Accordion>
                    <AccordionItem
                        title="Choose From"
                        variant="chevron">
                        <ul>
                            <li>{moreproducts.ChooseFromList1}</li>
                            <li>{moreproducts.ChooseFromList2}</li>
                            <li>{moreproducts.ChooseFromList3}</li>
                            <li>{moreproducts.ChooseFromList4}</li>
                            <li>{moreproducts.ChooseFromList5}</li>
                        </ul>
                    </AccordionItem>
                </Accordion>
            </div>
            <div>
                <Accordion>
                    <AccordionItem
                        title="Ideal For"
                        variant="chevron">
                        <!-- Ideal For / Available Options -->
                        <ul>
                            <li>{moreproducts.IdealForList1}</li>
                            <li>{moreproducts.IdealForList2}</li>
                            <li>{moreproducts.IdealForList3}</li>
                            <li>{moreproducts.IdealForList4}</li>
                            <li>{moreproducts.IdealForList5}</li>
                        </ul>
                    </AccordionItem>
                </Accordion>
        </div>
    </div>
</div>