---
const {
    moreproductsHeader, 
    lasercutTitle, 
    lasercutImage,
    lasercutAltText,
    laserCutAbout,
    highqualitylaserTitle,
    laserCutChooseFrom,
    lasercutText,
    partsText,
    featuresText,
    customsizesText,
    snapsetTitle,
    snapsetImage,
    snapsetAltText,
    snapsetAbout,
    durableTitle,
    snapsetChooseFrom,
    multipartText,
    snapsetpartsText,
    commonuseText,
    fieldserviceText,
    continuousTitle,
    continuousImage,
    continuousAltText,
    continuousAbout,
    reliableTitle,
    continuousChooseFrom,
    continuousText,
    continuouspartsText,
    idealforText,
    accountingText,
    customenvelopeTitle,
    customenvelopeImage,
    customenvelopeAltText,
    customEnvelopeAbout,
    deliverbrandfirstTitle,
    customEnvelopeChooseFrom,
    daytodayText,
    regularText,
    availableoptionsText,
    regularwindowText
} = Astro.props;
---

<div>
    <h2>{moreproductsHeader}</h2>
    <section>
        <h3>{lasercutTitle}</h3>
        <img src={lasercutImage} alt={lasercutAltText}>
        <h4>{highqualitylaserTitle}</h4>
        <!-- accordion -->
        <div>
            <!-- About -->
            <h4>{laserCutAbout}</h4> 
            <p>{lasercutText}</p>
            <!-- Choose From -->
            <h4>{laserCutChooseFrom}</h4>
            <p>{partsText}</p>
            <!-- Available Options -->
            <h4>{featuresText}</h4>
            <p>{customsizesText}</p>
        </div>
    </section>
    <section>
        <h3>{snapsetTitle}</h3>
        <img src={snapsetImage} alt={snapsetAltText}>
        <h4>{durableTitle}</h4>
        <!-- accordion -->
        <div>
            <!-- About -->
            <h4>{snapsetAbout}</h4>
            <p>{multipartText}</p>
            <!-- Choose From -->
            <h4>{snapsetChooseFrom}</h4>
            <p>{snapsetpartsText}</p>
            <!-- Available Options -->
            <h4>{commonuseText}</h4>
            <p>{fieldserviceText}</p>
        </div>
    </section>
    <section>
        <h3>{continuousTitle}</h3>
        <img src={continuousImage} alt={continuousAltText}>
        <h4>{reliableTitle}</h4>
        <!-- accordion -->
        <div>
            <!-- About -->
            <h4>{continuousAbout}</h4>
            <p>{continuouspartsText}</p>
            <!-- Choose From -->
            <h4>{continuousChooseFrom}</h4>
            <p>{continuousText}</p>
            <!-- Available Options -->
            <h4>{idealforText}</h4>
            <p>{accountingText}</p>
        </div>
    </section>
    <section>
        <h3>{customenvelopeTitle}</h3>
        <img src={customenvelopeImage} alt={customenvelopeAltText}>
        <h4>{deliverbrandfirstTitle}</h4>
        <!-- accordion -->
        <div>
             <!-- About -->
            <h4>{customEnvelopeAbout}</h4>
            <p>{daytodayText}</p>
            <!-- Choose From -->
            <h4>{customEnvelopeChooseFrom}</h4>
            <p>{regularText}</p>
            <!-- Available Options -->
            <h4>{availableoptionsText}</h4>
            <p>{regularwindowText}</p>
        </div>
    </section>
</div>