---
const {
    moreproductsHeader, 
    lasercutTitle, 
    lasercutImage,
    highqualitylaserTitle,
    lasercutText,
    partsText,
    featuresText,
    customsizesText,
    snapsetTitle,
    snapsetImage,
    durableTitle,
    multipartText,
    snapsetpartsText,
    commonuseText,
    fieldserviceText,
    continuousTitle,
    continuousImage,
    reliableTitle,
    continuousText,
    continuouspartsText,
    idealforText,
    accountingText,
    customenvelopeTitle,
    customenvelopeImage,
    deliverbrandfirstTitle,
    daytodayText,
    regularText,
    availableoptionsText,
    regularwindowText
} = Astro.props;
---

<div>
    <h2>{moreproductsHeader}</h2>
    <section>
        <h3>{lasercutTitle}</h3>
        <img src={lasercutImage} alt="random alt text">
        <p>{highqualitylaserTitle}</p>
        <p>{lasercutText}</p>
        <p>{partsText}</p>
        <p>{featuresText}</p>
        <p>{customsizesText}</p>
    </section>
    <section>
        <h3>{snapsetTitle}</h3>
        <img src={snapsetImage} alt="random alt text">
        <p>{durableTitle}</p>
        <p>{multipartText}</p>
        <p>{snapsetpartsText}</p>
        <p>{commonuseText}</p>
        <p>{fieldserviceText}</p>
    </section>
    <section>
        <h3>{continuousTitle}</h3>
        <img src={continuousImage} alt="random alt text">
        <p>{reliableTitle}</p>
        <p>{continuousText}</p>
        <p>{continuouspartsText}</p>
        <p>{idealforText}</p>
        <p>{accountingText}</p>
    </section>
    <section>
        <h3>{customenvelopeTitle}</h3>
        <img src={customenvelopeImage} alt="random alt text">
        <p>{deliverbrandfirstTitle}</p>
        <p>{daytodayText}</p>
        <p>{regularText}</p>
        <p>{availableoptionsText}</p>
        <p>{regularwindowText}</p>
    </section>
</div>