---
import { Image } from 'astro:assets';
const {productHeroHeader, productHeroText, productHeroImage, productsAltText} = Astro.props;
---

<div class="products-banner">
    <div class="products-hero">
        <h1>{productHeroHeader}</h1>
        <Image 
            src={productHeroImage} 
            alt={productsAltText}
            inferSize={true}/>
        <p>{productHeroText}</p>
    </div>
</div>