---
import { Image } from 'astro:assets';
const { productsHero } = Astro.props;
---

<div class="products-banner">
    <div class="products-hero">
        <h1>{productsHero.productHeroHeader}</h1>
        <Image 
            src={productsHero.productHeroImage.url} 
            alt={productsHero.productHeroImage.alternativeText}
            inferSize={true}/>
        <p>{productsHero.productHeroText}</p>
    </div>
</div>