---
const {featuredpromoTitle, featuredpromoBtn, featuredpromoImage} = Astro.props;
const featuredpromoUrl = `${import.meta.env.STRAPI_URL}${featuredpromoImage}`;
---

<div>
    <h2>{featuredpromoTitle}</h2>
    <p>{featuredpromoBtn}</p>
    <img src={featuredpromoUrl} alt="random alt text">
</div>