---
import { Image } from 'astro:assets';
const {featuredpromoTitle, featuredpromoBtn, featuredpromoText, featuredpromoImage, featuredpromoAltText} = Astro.props;
---

<div class="promo-products-container">
    <div>
        <h2>{featuredpromoTitle}</h2>
        <p>{featuredpromoText}</p>
        <a href="#" class="promo-btn">{featuredpromoBtn}</a>
    </div>
        <div>
            <Image
                src={featuredpromoImage}
                alt={featuredpromoAltText}
                inferSize={true}/>
        </div>
</div>