---
import { Image } from 'astro:assets';
const { promoProducts } = Astro.props;
---

<div class="promo-products-container">
    <div>
        <h2>{promoProducts.featuredpromoTitle}</h2>
        <p>{promoProducts.featuredpromoText}</p>
        <a href="https://printedonline.espwebsite.com/" class="promo-btn" target="_blank">{promoProducts.featuredpromoBtn}</a>
    </div>
        <div>
            <Image
                src={promoProducts.featuredpromoImage.url}
                alt={promoProducts.featuredpromoImage.alternativeText}
                inferSize={true}/>
        </div>
</div>