---
const {featuredpromoTitle, featuredpromoBtn, featuredpromoText, featuredpromoImage, featuredpromoAltText} = Astro.props;
---

<div>
    <h2>{featuredpromoTitle}</h2>
    <p>{featuredpromoText}</p>
    <img src={featuredpromoImage} alt={featuredpromoAltText}>
    <a href="#">{featuredpromoBtn}</a>
</div>