---
const { formDetails } = Astro.props;
---

<div class="form-card">
    <!-- Add https://formsubmit.co/email-here later in the action -->

    <div class="form-p">
        <p>Input fields that are marked with <span class="form-symbol">*</span> are required. </p>
     </div>
    <form
        action="https://formsubmit.co/info@printedonline.ca"
        method="post"
        name="requestquote"
        enctype="multipart/form-data"
    >
    <!-- Template type -->
    <input type="hidden" name="_template" value="table">
        <div>
            <label for="name">{formDetails.FullName} <span class="form-symbol">*</span></label>
            <input
                id="name"
                type="text"
                name="name"
                placeholder="Enter your full name here."
            />
            <p id="name_errormsg"></p>
        </div>
        <div>
            <label for="phone">{formDetails.Phone} <span class="form-symbol">*</span></label>
            <input
                id="phone"
                type="number"
                name="phone"
                placeholder="Enter your phone number here."
            />
            <p id="phone_errormsg"></p>
        </div>
        <div>
            <label for="email">{formDetails.Email}</label>
            <input
                id="email"
                name="email"
                placeholder="Enter your email address here."
            />
            <p id="email_errormsg"></p>
        </div>
        <div>
            <label for="company">{formDetails.CompanyName}</label>
            <input
                id="company"
                type="text"
                name="company"
                placeholder="Enter your company name here."
            />
        </div>
        <div class="product-type-quantity">
            
            <div>
                <label for="product-type">{formDetails.ProductType} <span class="form-symbol">*</span></label>
                <select name="product_type" id="product-type">
                    <option value="">Choose a product</option>
                    <option value="Linerless Label">Linerless Label</option>
                    <option value="Pressure Seal">Pressure Seal Forms</option>
                    <option value="Integrated Form">Integrated Form/Labels</option>
                    <option value="Laser-Cut Sheet Form">Laser-Cut Sheet Forms</option>
                    <option value="Snapset Form">Snapset Form</option>
                    <option value="Continuous Form">Continuous Forms</option>
                    <option value="Custom Envelopes">Custom Envelopes</option>
                    <option value="Other">Other</option>
                </select>
                <p id="subject_errormsg"></p>
            </div>
            <div>
                <label for="quantity">{formDetails.Quantity} <span class="form-symbol">*</span></label>
                <input
                id="quantity"
                type="number"
                name="quantity"
                placeholder="Enter your quantity here."
                />
                <p id="quantity_errormsg"></p>
            </div>
        </div>
        <div>
            <label class="label-upload" for="label-upload">{formDetails.FileUpload}</label>
            <input
                id="label-upload"
                class="file-upload"
                type="file"
                name="attachment"
            />
            <p class="upload-p">Upload a file up to 5MB.</p>
        </div>
        <div>
            <label for="message">{formDetails.AdditionalDetails} <span class="form-symbol">*</span></label>
            <textarea
                id="message"
                name="message"
                class="message-box"
                placeholder="Enter additional details here. Examples include sizes, materials, colours, specifications, questions, and details from file uploads."></textarea>
            <p id="message_errormsg"></p>
        </div>
        <input type="submit" value={formDetails.requestquoteBtn} class="submit-btn" />
    </form>
</div>


<script>
    import { requestQuoteFormValidation } from '../../lib/formValidation';
    requestQuoteFormValidation();
</script>