---
import { Image } from 'astro:assets';
const { aboutUs } = Astro.props;
import "../../styles/styles.scss";

---

<div class="about-bg">
    <div class="about-wide-flex">
        <div class="about-flex">
            <div>
                <h2>{aboutUs.whyChooseHeader}</h2>
                <p>{aboutUs.whyChooseDesc}</p>
            </div>
            <div class="set-apart-flex">
                <div>
                    <h2>{aboutUs.whatSetsApartHeader}</h2>
                    <p>{aboutUs.atPrintedDesc}</p>
                </div>
                <p>{aboutUs.withDecadesDesc}</p>
                <div class="set-apart-tag">
                    <p>{aboutUs.printSmarterText}</p>
                    <p>{aboutUs.printedText}</p>
                </div>
                <a href="/contact-us" class="about-btn">{aboutUs.aboutUsBtn}</a>
            </div>
        </div>
        <Image 
            src={aboutUs.aboutusWhyImage.url} 
            alt={aboutUs.aboutusWhyImage.alternativeText}
            inferSize={true}/>
    </div>
</div>