---
const {
    whyChooseHeader,
    whyChooseDesc,
    whatSetsApartHeader,
    atPrintedDesc,
    withDecadesDesc,
    printSmarterText,
    printedText,
    aboutUsBtn,
    aboutusWhyImage,
    aboutUsWhyAltText,
} = Astro.props;


---

<div>
    <div>
        <h2>{whyChooseHeader}</h2>
        <p>{whyChooseDesc}</p>
    </div>
    <div>
        <h2>{whatSetsApartHeader}</h2>
        <p>{atPrintedDesc}</p>
        <p>{withDecadesDesc}</p>
        <p>{printSmarterText}</p>
        <p>{printedText}</p>
    </div>
    <img src={aboutusWhyImage} alt={aboutUsWhyAltText}>
    <p>{aboutUsBtn}</p>
</div>