---
import { Image } from 'astro:assets';
const {
    whyChooseHeader,
    whyChooseDesc,
    whatSetsApartHeader,
    atPrintedDesc,
    withDecadesDesc,
    printSmarterText,
    printedText,
    aboutUsBtn,
    aboutusWhyImage,
    aboutUsWhyAltText,
} = Astro.props;
import "../../styles/styles.scss";

---

<div class="about-bg">
    <div class="about-wide-flex">
        <div class="about-flex">
            <div>
                <h2>{whyChooseHeader}</h2>
                <p>{whyChooseDesc}</p>
            </div>
            <div class="set-apart-flex">
                <div>
                    <h2>{whatSetsApartHeader}</h2>
                    <p>{atPrintedDesc}</p>
                </div>
                <p>{withDecadesDesc}</p>
                <div class="set-apart-tag">
                    <p>{printSmarterText}</p>
                    <p>{printedText}</p>
                </div>
                <a href="/contact-us" class="about-btn">{aboutUsBtn}</a>
            </div>
        </div>
        <Image 
            src={aboutusWhyImage} 
            alt={aboutUsWhyAltText}
            inferSize={true}/>
    </div>
</div>