---
const {
    aboutUsWhyTitle, 
    aboutUsWhyDesc, 
    aboutUsWhatTitle, 
    aboutUsWhatDesc, 
    aboutUsWhyBtn, 
    aboutUsWhyImage,
    onlineservicesText,
    customercareText,
    qualityText,
    localexpertiseText
} = Astro.props;


---

<div>
    <section>
        <h2>{aboutUsWhyTitle}</h2>
        <p>{aboutUsWhyDesc}</p>
    </section>
    <section>
        <h2>{aboutUsWhatTitle}</h2>
        <p>{aboutUsWhatDesc}</p>
        <p>{onlineservicesText}</p>
        <p>{customercareText}</p>
        <p>{qualityText}</p>
        <p>{localexpertiseText}</p>
    </section>
    <div>
        <img src={aboutUsWhyImage} alt="random alt text">
        <a href="#">{aboutUsWhyBtn}</a>
    </div>
</div>