---
const {aboutUsHeroHeader, aboutUsHeroDesc, aboutUsHeroImg, aboutUsAltText, smartPrintingText ,trustedExpertiseText, canadianBasedText} = Astro.props;
import "../../styles/styles.scss";
---

<div class="about-hero">
    <h1>{aboutUsHeroHeader}</h1>
    <img src={aboutUsHeroImg} alt={aboutUsAltText}>
    <div class="hero-tag">
        <p>{smartPrintingText}</p>
        <p>{trustedExpertiseText}</p>
        <p>{canadianBasedText}</p>
    </div>
    <p>{aboutUsHeroDesc}</p>
</div>