---
const {aboutUsHeroHeader, aboutUsHeroDesc, aboutUsHeroImg, aboutUsAltText, smartPrintingText ,trustedExpertiseText, canadianBasedText} = Astro.props;

---

<div>
    <h1>{aboutUsHeroHeader}</h1>
    <img src={aboutUsHeroImg} alt={aboutUsAltText}>
    <p>{smartPrintingText}</p>
    <p>{trustedExpertiseText}</p>
    <p>{canadianBasedText}</p>
    <p>{aboutUsHeroDesc}</p>
</div>