---
import { Image } from 'astro:assets';
const { aboutUsHero } = Astro.props;
import "../../styles/styles.scss";
---

<div class="about-banner">
    <div class="about-hero">
        <h1>{aboutUsHero.aboutUsHeroHeader}</h1>
        <Image 
            src={aboutUsHero.aboutUsHeroImg.url} 
            alt={aboutUsHero.aboutUsHeroImg.alternativeText}
            inferSize={true}/>
        <div class="hero-tag">
            <p>{aboutUsHero.smartPrintingText}</p>
            <p>{aboutUsHero.trustedExpertiseText}</p>
            <p>{aboutUsHero.canadianBasedText}</p>
        </div>
        <p>{aboutUsHero.aboutUsHeroDesc}</p>
    </div>
</div>