---
const { integratedFormHero } = Astro.props;
import "../../styles/styles.scss";
---

<div class="product-hero-grid">
    <a href="/products"
        ><img src="/assets/arrow-left.svg" alt="" />Back to Products</a
    >
    <div class="featured-products-hero">
        <div class="product-hero-container">
            <h1>{integratedFormHero.integratedformlabelHeader}</h1>
            <p>{integratedFormHero.integratedformlabelDesc}</p>
        </div>
        <div class="product-hero-img">
            <picture>
                <source
                    media="(min-width: 1400px)"
                    srcset={integratedFormHero.integratedformlabelImageDesktop.url}
                />
                <img
                    class="integratedform-hero-img"
                    src={integratedFormHero.integratedformlabelImageMobile.url}
                    alt={integratedFormHero.integratedformlabelImageMobile.alternativeText}
                />
            </picture>
        </div>
    </div>
</div>
