---
const {integratedformlabelHeader, integratedformlabelDesc, integratedformlabelImageMobile, integratedformlabelAltTextMobile, integratedformlabelImageDesktop} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-hero">
    <div class="product-hero-container">
        <h1>{integratedformlabelHeader}</h1>
        <p>{integratedformlabelDesc}</p>
    </div>
    <div class="product-hero-img">
        <!-- <img src={integratedformlabelImage} alt={integratedformlabelAltText}> -->
         <picture>
            <source  media="(min-width: 1400px)" srcset={integratedformlabelImageDesktop}>
            <img class="integratedform-hero-img" src={integratedformlabelImageMobile} alt={integratedformlabelAltTextMobile}>
        </picture>
    </div>
</div>