---
const { integratedformlabelBtn, integratedformlabelImageGallery = [] } = Astro.props;
const baseUrl = import.meta.env.STRAPI_URL;
---


<div>
    {integratedformlabelImageGallery.map((integratedformIG) => (
    <img 
        src={`${baseUrl}${integratedformIG.url}`} 
        alt={integratedformIG.alternativeText || integratedformIG.name} 
        width={integratedformIG.width} 
        height={integratedformIG.height}/>
    ))}
    <a href="#">{integratedformlabelBtn}</a>
</div>
