---
import { Image } from "astro:assets";
const { productSmartEfficient } = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-additional-info">
    <div class="product-container">
        <div class="yellow-header">
            <h2>{productSmartEfficient.smartefficientformTitle}</h2>
        </div>
        <div class="featured-products-infolist">
            <div class="inner-container inner-grid">
                <div class="list">
                    <p>{productSmartEfficient.commonapplicationsText}</p>
                    <ul>
                        <li>{productSmartEfficient.ecommerce}</li>
                        <li>{productSmartEfficient.distribution}</li>
                        <li>{productSmartEfficient.retail}</li>
                        <li>{productSmartEfficient.healthcare}</li>
                        <li>{productSmartEfficient.insurance}</li>
                        <li>{productSmartEfficient.logistics}</li>
                    </ul>
                    <a href="/request-quote" class="featured-products-btn"
                        >{productSmartEfficient.smartefficientBtn}</a
                    >
                </div>
                <Image
                    src={productSmartEfficient.smartefficientImage.url}
                    alt={productSmartEfficient.smartefficientImage.alternativeText}
                    inferSize={true}
                />
            </div>
        </div>
    </div>
</div>
