---
const {smartefficientformTitle, commonapplicationsText, ecommerce, distribution, retail, healthcare, insurance, logistics, smartefficientImage, smartefficientBtn} = Astro.props;
---

<div>
    <h2>{smartefficientformTitle}</h2>
    <p>{commonapplicationsText}</p>
    <ul>
        <li>{ecommerce}</li>
        <li>{distribution}</li>
        <li>{retail}</li>
        <li>{healthcare}</li>
        <li>{insurance}</li>
        <li>{logistics}</li>
    </ul>
    <img src={smartefficientImage} alt="random alt text">
    <a href="#">{smartefficientBtn}</a>
</div>