---
const {
    integratedformlabelWhatIsTitle, 
    integratedformlabelWhatIsDesc, 
    integratedsolutionText, 
    integratedformImage1, 
    integratedformImage2, 
    integratedformImage3
} = Astro.props;
---

<div>
<div>
    <h2>{integratedformlabelWhatIsTitle}</h2>
    <p>{integratedformlabelWhatIsDesc}</p>
    <p>{integratedsolutionText}</p>
    <div>
        <img src={integratedformImage1} alt="random alt text">
        <img src={integratedformImage2} alt="random alt text">
        <img src={integratedformImage3} alt="random alt text">
    </div>
</div>
</div>