---
import { Image } from 'astro:assets';
const { productWhatIs } = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-container">
    <div class="featured-products-info">
        <h2>{productWhatIs.integratedformlabelWhatIsTitle}</h2>
        <p>{productWhatIs.integratedformlabelWhatIsDesc}</p>
        <p>{productWhatIs.integratedsolutionText}</p>
    </div>
    <div class="integrated-form-img">
        <Image 
            src={productWhatIs.integratedformImage1.url} 
            alt={productWhatIs.integratedformImage1.alternativeText}
            inferSize={true}/>
        <Image 
            src={productWhatIs.integratedformImage2.url} 
            alt={productWhatIs.integratedformImage2.alternativeText}
            inferSize={true}/>
        <Image 
            src={productWhatIs.integratedformImage3.url} 
            alt={productWhatIs.integratedformImage3.alternativeText}
            inferSize={true}/>
    </div>
</div>
