---
const {
    integratedformlabelWhatIsTitle, 
    integratedformlabelWhatIsDesc, 
    integratedsolutionText, 
    integratedformImage1, 
    integratedformImage2, 
    integratedformImage3
} = Astro.props;

const integratedformImage1URL = `${import.meta.env.STRAPI_URL}${integratedformImage1}`;
const integratedformImage2URL = `${import.meta.env.STRAPI_URL}${integratedformImage2}`;
const integratedformImage3URL = `${import.meta.env.STRAPI_URL}${integratedformImage3}`;
---

<div>
<div>
    <h2>{integratedformlabelWhatIsTitle}</h2>
    <p>{integratedformlabelWhatIsDesc}</p>
    <p>{integratedsolutionText}</p>
    <div>
        <img src={integratedformImage1URL} alt="random alt text">
        <img src={integratedformImage2URL} alt="random alt text">
        <img src={integratedformImage3URL} alt="random alt text">
    </div>
</div>
</div>