---
const {
    integratedformlabelWhatIsTitle, 
    integratedformlabelWhatIsDesc, 
    integratedsolutionText, 
    integratedformImage1,
    integratedformAltText1,
    integratedformImage2,
    integratedformAltText2, 
    integratedformImage3,
    integratedformAltText3
} = Astro.props;
---

<div>
<div>
    <h2>{integratedformlabelWhatIsTitle}</h2>
    <p>{integratedformlabelWhatIsDesc}</p>
    <p>{integratedsolutionText}</p>
    <div>
        <img src={integratedformImage1} alt={integratedformAltText1}>
        <img src={integratedformImage2} alt={integratedformAltText2}>
        <img src={integratedformImage3} alt={integratedformAltText3}>
    </div>
</div>
</div>