---
import { Image } from 'astro:assets';
const {
    integratedformlabelWhatIsTitle, 
    integratedformlabelWhatIsDesc, 
    integratedsolutionText, 
    integratedformImage1,
    integratedformAltText1,
    integratedformImage2,
    integratedformAltText2, 
    integratedformImage3,
    integratedformAltText3
} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-container">
    <div class="featured-products-info">
        <h2>{integratedformlabelWhatIsTitle}</h2>
        <p>{integratedformlabelWhatIsDesc}</p>
        <p>{integratedsolutionText}</p>
    </div>
    <div class="integrated-form-img">
        <Image 
            src={integratedformImage1} 
            alt={integratedformAltText1}
            inferSize={true}/>
        <Image 
            src={integratedformImage2} 
            alt={integratedformAltText2}
            inferSize={true}/>
        <Image 
            src={integratedformImage3} 
            alt={integratedformAltText3}
            inferSize={true}/>
    </div>
</div>
