---
const {linerlesslabelHeader, linerlesslabelText, linerlessImageMobile , linerlessAltTextMobile, linerlessImageDesktop } = Astro.props;
import "../../styles/styles.scss";
---

<div class="product-hero-grid">
    <a href="/products"><img src="/assets/arrow-left.svg" alt="">Back to Products</a>
    <div class="featured-products-hero">
        <div class="product-hero-container">
            <h1>{linerlesslabelHeader}</h1>
            <p>{linerlesslabelText}</p>
        </div>
        <div class="product-hero-img">
            <picture>
                <source  media="(min-width: 1400px)" srcset={linerlessImageDesktop}>
                <img class="linerless-hero-img" src={linerlessImageMobile} alt={linerlessAltTextMobile}>
            </picture>
        </div>
    </div>
</div>