---
const { linerlessBtn, linerlesslabelImageGallery = [] } = Astro.props;
const baseUrl = import.meta.env.STRAPI_URL;
---


<div>
    {linerlesslabelImageGallery.map((linerlessIG) => (
    <img 
        src={`${baseUrl}${linerlessIG.url}`} 
        alt={linerlessIG.alternativeText || linerlessIG.name} 
        width={linerlessIG.width} 
        height={linerlessIG.height}/>
    ))}
    <a href="#">{linerlessBtn}</a>
</div>
