---
import { Image } from "astro:assets";
const {
    keyadvantagesTitle,
    nolinerText,
    continuousrollText,
    custombrandingText,
    excellentforText,
    sustainableImage,
    sustainableAltText,
    sustainableBtn,
    sustainableTitle,
} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-additional-info">
    <div class="product-container">
        <div class="yellow-header">
            <h2>{sustainableTitle}</h2>
        </div>
        <div class="featured-products-infolist">
            <div class="inner-container">
                <p>{keyadvantagesTitle}</p>
                <ul>
                    <li>{nolinerText}</li>
                    <li>{continuousrollText}</li>
                    <li>{custombrandingText}</li>
                    <li>{excellentforText}</li>
                </ul>
                <a
                    href="/request-quote"
                    class="featured-products-btn linerless-btn"
                    >{sustainableBtn}</a
                >
                <Image
                    src={sustainableImage}
                    alt={sustainableAltText}
                    inferSize={true}
                />
            </div>
        </div>
    </div>
</div>
