---
const {keyadvantagesTitle, nolinerText, continuousrollText, custombrandingText, excellentforText, sustainableImage, sustainableBtn, sustainableTitle} = Astro.props;
---

<div>
    <h2>{sustainableTitle}</h2>
    <p>{keyadvantagesTitle}</p>
    <ul>
        <li>{nolinerText}</li>
        <li>{continuousrollText}</li>
        <li>{custombrandingText}</li>
        <li>{excellentforText}</li>
    </ul>
    <img src={sustainableImage} alt="random alt text">
    <a href="#">{sustainableBtn}</a>
</div>