---
const {keyadvantagesTitle, nolinerText, continuousrollText, custombrandingText, excellentforText, sustainableImage, sustainableAltText, sustainableBtn, sustainableTitle} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-additional-info">
    <div class="featured-products-header">
        <h2>{sustainableTitle}</h2>
    </div>
    <div class="featured-products-infolist">
        <p>{keyadvantagesTitle}</p>
        <ul>
            <li>{nolinerText}</li>
            <li>{continuousrollText}</li>
            <li>{custombrandingText}</li>
            <li>{excellentforText}</li>
        </ul>
        <div>
            <img src={sustainableImage} alt={sustainableAltText}>
            <a href="/request-quote" class="featured-products-btn">{sustainableBtn}</a>
        </div>
    </div>
</div>