---
import { Image } from "astro:assets";
const { productSustainable } = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-additional-info">
    <div class="product-container">
        <div class="yellow-header">
            <h2>{productSustainable.sustainableTitle}</h2>
        </div>
        <div class="featured-products-infolist">
            <div class="inner-container">
                <p>{productSustainable.keyadvantagesTitle}</p>
                <ul>
                    <li>{productSustainable.nolinerText}</li>
                    <li>{productSustainable.continuousrollText}</li>
                    <li>{productSustainable.custombrandingText}</li>
                    <li>{productSustainable.excellentforText}</li>
                </ul>
                <a
                    href="/request-quote"
                    class="featured-products-btn linerless-btn"
                    >{productSustainable.sustainableBtn}</a
                >
                <Image
                    src={productSustainable.sustainableImage.url}
                    alt={productSustainable.sustainableImage.alternativeText}
                    inferSize={true}
                />
            </div>
        </div>
    </div>
</div>
