---
const {
    linerlesslabelWhatIsTitle, 
    linerlesslabelWhatIsDesc, 
    perfectforwindowText, 
    printedmanufactureText,
    linerlesslabelImage1,
    linerlesslabelImage2,
    linerlesslabelImage3 
} = Astro.props;
---

<div>
    <h2>{linerlesslabelWhatIsTitle}</h2>
    <p>{linerlesslabelWhatIsDesc}</p>
    <p>{perfectforwindowText}</p>
    <p>{printedmanufactureText}</p>
    <div>
        <img src={linerlesslabelImage1} alt="random alt text">
        <img src={linerlesslabelImage2} alt="random alt text">
        <img src={linerlesslabelImage3} alt="random alt text">
    </div>
</div>