---
import { Image } from "astro:assets";
const {
    linerlesslabelWhatIsTitle,
    linerlesslabelWhatIsDesc,
    perfectforwindowText,
    printedmanufactureText,
    linerlesslabelImage1,
    linerlesslabelAltText1,
    linerlesslabelImage2,
    linerlesslabelAltText2,
    linerlesslabelImage3,
    linerlesslabelAltText3,
} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-container">
    <div class="featured-products-info">
        <h2>{linerlesslabelWhatIsTitle}</h2>
        <p>{linerlesslabelWhatIsDesc}</p>
        <p class="middle-text">{perfectforwindowText}</p>
        <p>{printedmanufactureText}</p>
    </div>
    <div class="linerless-img">
        <Image
            src={linerlesslabelImage1}
            alt={linerlesslabelAltText1}
            inferSize={true}
        />
        <Image
            src={linerlesslabelImage2}
            alt={linerlesslabelAltText2}
            inferSize={true}
        />
        <Image
            src={linerlesslabelImage3}
            alt={linerlesslabelAltText3}
            inferSize={true}
        />
    </div>
</div>
