---
const {
    linerlesslabelWhatIsTitle, 
    linerlesslabelWhatIsDesc, 
    perfectforwindowText, 
    printedmanufactureText,
    linerlesslabelImage1,
    linerlesslabelAltText1,
    linerlesslabelImage2,
    linerlesslabelAltText2,
    linerlesslabelImage3,
    linerlesslabelAltText3
} = Astro.props;
---

<div>
    <h2>{linerlesslabelWhatIsTitle}</h2>
    <p>{linerlesslabelWhatIsDesc}</p>
    <p>{perfectforwindowText}</p>
    <p>{printedmanufactureText}</p>
    <div>
        <img src={linerlesslabelImage1} alt={linerlesslabelAltText1}>
        <img src={linerlesslabelImage2} alt={linerlesslabelAltText2}>
        <img src={linerlesslabelImage3} alt={linerlesslabelAltText3}>
    </div>
</div>