---
const {
    linerlesslabelWhatIsTitle, 
    linerlesslabelWhatIsDesc, 
    perfectforwindowText, 
    printedmanufactureText,
    linerlesslabelImage1,
    linerlesslabelImage2,
    linerlesslabelImage3 
} = Astro.props;

const linerlesslabelImage1URL = `${import.meta.env.STRAPI_URL}${linerlesslabelImage1}`;
const linerlesslabelImage2URL = `${import.meta.env.STRAPI_URL}${linerlesslabelImage2}`;
const linerlesslabelImage3URL = `${import.meta.env.STRAPI_URL}${linerlesslabelImage3}`;
---

<div>
    <h2>{linerlesslabelWhatIsTitle}</h2>
    <p>{linerlesslabelWhatIsDesc}</p>
    <p>{perfectforwindowText}</p>
    <p>{printedmanufactureText}</p>
    <div>
        <img src={linerlesslabelImage1URL} alt="random alt text">
        <img src={linerlesslabelImage2URL} alt="random alt text">
        <img src={linerlesslabelImage3URL} alt="random alt text">
    </div>
</div>