---
import ContactUsForm from "../components/ContactUs/ContactUsForm.astro";
import Hero from "../components/ContactUs/Hero.astro";

import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";



const pages = await fetchApi({
  endpoint: 'contact-uses', 
  page: 'ContactUsPage',
  wrappedByKey: 'data',
});

// http://localhost:1337/api/contact-uses?populate[ContactUsPage][populate]=*

//fetch page data for about us page
const contactusPage = pages[0];
const pageData = contactusPage?.ContactUsPage || [];

// fetch about us hero components
const heroData = pageData.find(pd => pd.__component === "contactushero.contactus-hero") || {};
const {contactusHeader, contactusText, callusTitle, callusText, emailTitle, emailText} = heroData;

const contactusFormData = pageData.find(pd => pd.__component === "contactusform.contactus-form") || {};
const {FullName, Email, Phone, Message, sendmessageBtn} = contactusFormData;
---

<Layout>
   <div class="background-form">
    <div class="forms-page-wrapper">
     
        <Hero {contactusHeader} {contactusText} {callusTitle} {callusText} {emailTitle} {emailText} />
        <ContactUsForm {FullName} {Email} {Phone} {Message} {sendmessageBtn} />
      </div>
    </div>
</Layout>
