---
import ProductsHero from "../components/Products/ProductsHero.astro";
import FeaturedProducts from "../components/Products/FeaturedProducts.astro";
import MoreProducts from "../components/Products/MoreProducts.astro";
import PromoProducts from "../components/Products/PromoProducts.astro";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import Head from "../layouts/Head.astro";

const pages = await fetchApi({
  endpoint: 'products', 
  page: 'ProductPage',
  wrappedByKey: 'data',
});


// http://localhost:1337/api/products?populate[ProductPage][populate]=*

//fetch page data for products page
const productPage = pages[0];
const pageData = productPage?.ProductPage || [];

// fetch productshero components
const heroData = pageData.find(pd => pd.__component === "producthero.product-hero") || {};
const {productHeroHeader, productHeroText} = heroData;

const { productHeroImage: {
	url: productHeroImage
}} = heroData;

const { productHeroImage: {
	alternativeText: productsAltText
}} = heroData;

//fetch featured products components
const featuredproductData = pageData.find(pd => pd.__component === "productsfeaturedproducts.products-featured-products") || {};
const {
    featureProductsHeader, 
    pressuresealTitle,  
    pressuresealBtn,
    linerlessTitle,
    linerlessBtn,
    integratedformTitle,
    integratedformBtn,
    pressuresealDesc,
    linerlessDesc,
    integratedformDesc
    } = featuredproductData;

const { pressuresealImage: {
	url: pressuresealImage
}} = featuredproductData;

const { linerlessImage: {
	url: linerlessImage
}} = featuredproductData;

const { integratedformImage: {
	url: integratedformImage
}} = featuredproductData;

const { pressuresealImage: {
	alternativeText: pressureSealAltText

}} = featuredproductData;

const { linerlessImage: {
	alternativeText: linerlessLabelAltText
}} = featuredproductData;

const { integratedformImage: {
	alternativeText: integratedFormAltText
}} = featuredproductData;


//fetch promo products components
const promoProductsData = pageData.find(pd => pd.__component === "featuredpromoproducts.featured-promo-products");
const {featuredpromoTitle, featuredpromoText, featuredpromoBtn} = promoProductsData;

const { featuredpromoImage: {
	url: featuredpromoImage
}} = promoProductsData;

const { featuredpromoImage: {
	alternativeText: featuredpromoAltText
}} = promoProductsData;

//fetch Add More Products components
// const moreProductsTestLoop = pageData.filter(
//   (pd) => pd.__component === "addmoreproducts.add-more-products"
// );

const pageMoreProducts = await fetchApi({
  endpoint: 'add-more-products', 
  wrappedByKey: 'data',
});

const initialCount = 4;
const seoPageData = pageData.find(pd => pd.__component === "shared.seo") || {};
---
<Head seoData={seoPageData} />
<Layout>

    <ProductsHero {productHeroHeader} {productHeroImage} {productHeroText} {productsAltText} />

    <FeaturedProducts 
    {featureProductsHeader} {pressuresealTitle} {pressuresealImage} {pressuresealBtn} 
    {linerlessTitle} {linerlessImage} {linerlessBtn} 
    {integratedformTitle} {integratedformImage} {integratedformBtn}
    {pressureSealAltText} {linerlessLabelAltText} {integratedFormAltText}
    {pressuresealDesc} {linerlessDesc} {integratedformDesc}/>

<div class="more-products">

  <div class="more-products-h2">
    <h2>More Products</h2>
  </div>

  <div id="products-container">
    {pageMoreProducts
      //a - b (old - new)
      //b - a (new - old)
      .sort((a, b) => new Date(a.createdAt) - new Date(b.createdAt))
      .map((product, index) => (
        <div class="more-product-item" style={index < initialCount ? '' : 'display:none'}>
          <MoreProducts moreproducts={product} />
        </div>
      ))
    }
  </div>
  <!-- Load more button -->
  <div class="load-more-grid">
    {pageMoreProducts.length > initialCount && (
      <button id="load-more-btn">Load More Products</button>
    )}
  </div>

</div>
    <PromoProducts {featuredpromoTitle} {featuredpromoText} {featuredpromoBtn} {featuredpromoImage} {featuredpromoAltText}/>

</Layout>

  <script>
    import { loadMoreProducts } from "../lib/loadMore";
    loadMoreProducts();
  </script>