---
const { formDetails } = Astro.props;
---

<div class="form-card">
     <div class="form-p">
        <p>Input fields that are marked with <span class="form-symbol">*</span> are required. </p>
     </div>
    <form
        action= "https://formsubmit.co/info@printedonline.ca"
        method="post"
        name="contactus"
    >
    <input type="hidden" name="_template" value="table">
        <div>
            <label for={formDetails.FullName}>{formDetails.FullName} <span class="form-symbol">*</span></label>
            <input
                id={formDetails.FullName}
                type="text"
                name="name"
                placeholder="Enter your full name here."
            />
           <p id="name_errormsg"></p>
        </div>
        <div>
            <label for="phone" class="label">{formDetails.Phone}<span class="form-symbol"> *</span></label>
            <input id="phone" type="number" name="phone" placeholder="Enter your phone number here."/>
            <p id="phone_errormsg"></p>
        </div>
        <div>
            <label for={formDetails.Email}>{formDetails.Email}</label>
            <input
                id="email"
                name="email"
                placeholder="Enter your email address here."
            />
            <p id="email_errormsg"></p>
        </div>
        <div>
            <label for={formDetails.Message}>{formDetails.Message} <span class="form-symbol">*</span></label>
            <textarea
                id={formDetails.Message}
                name="message"
                class="message-box"
                placeholder="Enter your message here."></textarea>
            <p id="message_errormsg"></p>
        </div>
        <input type="submit" value={formDetails.sendmessageBtn} class="submit-btn" />
    </form>

</div>

<script>
    import { actions } from 'astro:actions'

    const form = document.querySelector('form');
    
    form?.addEventListener('submit', async (e) => {
    e.preventDefault();

    const nameErrorMsg = form.querySelector('#name_errormsg');
    const phoneErrorMsg = form.querySelector('#phone_errormsg');
    const messageErrorMsg = form.querySelector('#message_errormsg');
    const emailErrorMsg = form.querySelector('#email_errormsg');
    
    const formData = new FormData(form);
    const { error } = await actions.submitContactForm(formData);
    console.log(error)

    let hasErrors = false;

    if (error && error.fields) {
    hasErrors = true;
    // Name
    nameErrorMsg.innerHTML = error.fields.name?.[0] || '';
    nameErrorMsg.style.display = nameErrorMsg.innerHTML ? 'inline' : 'none';

    // Phone
    phoneErrorMsg.innerHTML = error.fields.phone?.[0] || '';
    phoneErrorMsg.style.display = phoneErrorMsg.innerHTML ? 'inline' : 'none';

    // Message
    messageErrorMsg.innerHTML = error.fields.message?.[0] || '';
    messageErrorMsg.style.display = messageErrorMsg.innerHTML ? 'inline' : 'none';


    const emailValue = formData.get('email')?.toString() || '';
    if (emailValue.trim() !== '') {
        emailErrorMsg.innerHTML = error.fields.email?.[0] || '';
        emailErrorMsg.style.display = emailErrorMsg.innerHTML ? 'inline' : 'none';
    } else {
        emailErrorMsg.innerHTML = '';
        emailErrorMsg.style.display = 'none';
    }

    } else {
    // Hide all if no errors
    [nameErrorMsg, phoneErrorMsg, messageErrorMsg, emailErrorMsg].forEach(
        (er) => {
        er.innerHTML = '';
        er.style.display = 'none';
        }
    );
    }
    if (!hasErrors) {
        form.submit();
    }
});
</script>
