---
const { pressureSealHero } = Astro.props;
import "../../styles/styles.scss";
---

<div class="product-hero-grid">
    <a href="/products"
        ><img src="/assets/arrow-left.svg" alt="" />Back to Products</a
    >
    <div class="featured-products-hero">
        <div class="product-hero-container">
            <h1>{pressureSealHero.pressuresealHeader}</h1>
            <p>{pressureSealHero.pressuresealDesc}</p>
        </div>
        <div class="product-hero-img">
            <picture>
                <source
                    media="(min-width: 1400px)"
                    srcset={pressureSealHero.pressuresealImageDesktop.url}
                />
                <img
                    class="pressureseal-hero-img"
                    src={pressureSealHero.pressuresealImageMobile.url}
                    alt={pressureSealHero.pressuresealImageMobile.alternativeText}
                />
            </picture>
        </div>
    </div>
</div>
