---
import { Image } from "astro:assets";
const { productSecureFold } = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-additional-info">
    <div class="product-container">
        <div class="yellow-header">
            <h2>{productSecureFold.securefoldTitle}</h2>
        </div>
        <div class="featured-products-infolist">
            <div class="inner-container inner-grid">
                <div class="list">
                    <p>{productSecureFold.idealforText}</p>
                    <ul>
                        <li>{productSecureFold.payroll}</li>
                        <li>{productSecureFold.taxforms}</li>
                        <li>{productSecureFold.statements}</li>
                        <li>{productSecureFold.utilitybills}</li>
                        <li>{productSecureFold.directmail}</li>
                    </ul>
                    <a href="/request-quote" class="featured-products-btn"
                        >{productSecureFold.securefoldBtn}</a
                    >
                </div>

                <Image
                    src={productSecureFold.securefoldImage.url}
                    alt={productSecureFold.securefoldImage.alternativeText}
                    inferSize={true}
                />
            </div>
        </div>
    </div>
</div>
