---
const {
    pressuresealWhatIsTitle, 
    pressuresealWhatIsDesc, 
    sealedbypressureText,
    pressuresealImage1,
    pressuresealImage2,
    pressuresealImage3
} = Astro.props;
---

<div>
    <h2>{pressuresealWhatIsTitle}</h2>
    <p>{pressuresealWhatIsDesc}</p>
    <p>{sealedbypressureText}</p>
    <div>
        <img src={pressuresealImage1} alt="random alt text">
        <img src={pressuresealImage2} alt="random alt text">
        <img src={pressuresealImage3} alt="random alt text">
    </div>
</div>